@model List<HydroDataCenterEntity.Models.Site>

@{
    ViewBag.Title = "АГК";
}

<style>
    .warpitem {
        height: auto;
        width: 33%;
        float: left;
        position: relative;
    }
    .item {
        height: 100%;
        width: 100%;
        float: left;
    }
    .itemtool {
        position:absolute;
        left:0;
        top:0;
        z-index:1000;
    }

    .itembtn {
    }
</style>

<script>
    var urlRoot = "@Url.Content("~/")";

    $(document).ready(function () {
        
        console.log($(".item").length);

        $('.item').each(function () {

            $(this).addClass("upload");      
            

        });
        setTimeout(explode, 2000);



        $('.item').mouseover(function () {
            $(this).css('background-color', 'rgb(214,86,43)');
        });


        $('.item').mouseout(function () {
            $(this).css('background-color', 'rgb(255,255,255)');
        });

    });

    function explode() {
        if ($(".upload").length == 0) {

            $('.item').each(function () {

                $(this).addClass("upload");
            });

            setTimeout(explode, 1000 * 30);  //10 min
        }

        
        var param = {
            siteid: $(".upload").first().data("siteid"),
            sitecode: $(".upload").first().data("sitecode"),
            siteextid: $(".upload").first().data("siteextid"),
            sitetypeid: $(".upload").first().data("sitetypeid"),
            sitename: $(".upload").first().data("sitename")
        };

        
        $.ajax({
            cache: false,
            url: urlRoot + 'Chart/Level',
            data: param,
            success: function (data) {
                $('#site-' + param['siteid']).html(data);
                $('#site-' + param['siteid']).removeClass("upload");
                setTimeout(explode, 1000);  //1 sec
            },
            error: function (x, e, thrownError) {

            }
        });

     
    }
    

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график'
        }
    });



</script>

<script src="https://use.fonticons.com/5a6dd875.js"></script>

<div class="container-fluid">
    @*<div class="row">
        @foreach (var item in Model)
        {
            <div id="site-@(item.ID)" class="col-sm-4 item" data-siteid="@item.ID" data-sitecode="@item.Code" data-siteextid="@item.ExtID" data-sitetypeid="@item.TypeID" data-sitename="@item.Name">@item.Name</div>
        }
    </div>*@

    @foreach (var item in Model)
    {
        <div class="warpitem">
            <div class="itemtool">
                <div class="dropdown">                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="@Url.Action("AGK", "Chart", new  { SiteCode=item.Code })" target="_blank">Открыть</a>
                        @*<a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>*@
                    </div>
                    <button class="btn btn-secondary" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        +
                    </button>
                </div>
            </div>
            <div id="site-@(item.ID)" class="item" data-siteid="@item.ID" data-sitecode="@item.Code" data-siteextid="@item.ExtID" data-sitetypeid="@item.TypeID" data-sitename="@item.Name">@item.Name</div>
        </div>
    }

</div>

